/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  background-image: url("./../assets/Headertemplate.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 1080px;
  width: 1349px;
}

.main h1 {
  color: white;
}

.header {
  background: url("./../assets//Header.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 217px;
}

#logo {
  color: whitesmoke;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 3em;
  position: absolute;
  left: 0;
  padding-left: 50px;
  padding-top: 50px;
  text-shadow: 2px 2px #f25c00;
}

.loginbox {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginInputs {
  background: rgba(12, 18, 12, 0.9);
  height: 250px;
  width: 250px;
  margin-left: 545px;
  position: absolute;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 10px rgba(29, 26, 26, 0.562);
          box-shadow: 10px 10px rgba(29, 26, 26, 0.562);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.loginInputs input {
  margin-top: 45px;
  height: 25px;
}

.loginPageButtons {
  margin-top: 15px;
  width: 70px;
  border: none;
  cursor: url("./../assets/Header.png"), auto;
}

@media (max-width: 1000px) {
  div.loginInputs {
    margin-left: 350px;
  }
}

@media (max-width: 320px) {
  div.loginInputs {
    margin-left: 40px;
  }
  input {
    margin-top: 10px;
  }
  button.loginPageButtons {
    margin-top: 15px;
    border-radius: 10%;
  }
  p#logo {
    margin-left: 5px;
  }
}

.addCarTitle {
  color: whitesmoke;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 3em;
  text-shadow: 2px 2px #5dbcd2;
  position: absolute;
  left: 1100px;
  bottom: 525px;
}

.addCarCard {
  background: rgba(12, 18, 12, 0.9);
  width: 250px;
  height: 300px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 550px;
  -webkit-box-shadow: 10px 10px rgba(29, 26, 26, 0.562);
          box-shadow: 10px 10px rgba(29, 26, 26, 0.562);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.addCarCard input {
  margin-top: 10px;
  width: 200px;
}

.addCarCard button {
  margin-top: 10px;
  width: 140px;
  border-radius: 5%;
  border: none;
}

@media (max-width: 320px) {
  form.addCarCard {
    margin-left: 35px;
  }
}
/*# sourceMappingURL=addcar.css.map */