@import "login";

.addCarTitle {
    color: whitesmoke;
    font-family: $logoFont;
    font-size: $logoFont-size;
    text-shadow: 2px 2px $alternativeTextShadow;
    position: absolute;
    left: 1100px;
    bottom: 525px;
}

.addCarCard {
    background: $background;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 550px;
    box-shadow: $backgroundShadow;
    transition-duration: 1s;
}

.addCarCard input {
    margin-top: 10px;
    width: 200px;
}

.addCarCard button {
    margin-top: 10px;
    width: 140px;
    border-radius: 5%;
    border: none
}

@media (max-width: 320px){
    form.addCarCard {
        margin-left: 35px;
    }
}