@import "login";


.editTitle {
    color: whitesmoke;
    font-family:  $logoFont;
    font-size: $logoFont-size;
    text-shadow: 2px 2px $alternativeTextShadow;
    position: absolute;
    left: 1100px;
    bottom: 525px;
}

.editTitle:hover {
    color: $alternativeTextShadow;
    text-shadow: 2px 2px whitesmoke;
}

.editProfileCard {
    background: $background;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 550px;
    box-shadow: $backgroundShadow;
    transition-duration: 1s;
}


#deleteProfile {
    background: red;
    font-weight: bold;
}

.editProfileCard input {
    margin-top: 10px;
    width: 200px;
}

.editProfileCard button {
    margin-top: 10px;
    width: 140px;
    border-radius: 5%;
    border: none
}

.editProfileCard h1 {
    margin-right: 125px;
    margin-top: 5px;
}

@media (max-width: 414px){
    div.editProfileCard {
        margin-left: 25px;
    }
}

@media (max-width: 320px){
    div.editProfileCard {
        margin-left: 35px;
    }
}