@import "login";

.mappedFriend {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: $background;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    height: 100;
    width: 250px;
}

.mappedFriend img{
    margin-right: 25px;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.mappedFriend h1 {
    font-family: $logoFont;
    margin-left: 55px;
}

.mappedFriend button {
    border: none;
    height: 25px;
    background: silver;
    margin-right: 15px;
    margin-bottom: 25px;
}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mainFriend {
    display: flex;
    justify-content: center;
}