// $background: rgb(1, 9, 27);
$background: red;
$backgroundWidth: 100vw;
$backgroundHeight: 100vh;

.main {
    background: $background;
    height: $backgroundHeight;
    width: $backgroundWidth;
    h1 {
        color: white
    }
}