@import "login";

.mappedTrackCard {
    display: flex;
    justify-content: center;
}

.mappedTrackSessions {
    position: absolute;
    top: 150px;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mapped {
    background: $background;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 300px;
    margin-bottom: 10px;
}

.mapped p {
    color: whitesmoke;
    font-family: $logoFont;
}

@media (max-width: 320px){
    .mappedTrackCard {
        display: flex;
        flex-direction: column;
    }
    .mappedTrackSessions {
        display: flex;
        flex-direction: column;
        width: 250px;
        position: absolute;
        top: 0px
    }
}