.mappedProfiles {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr ;
    margin-left: 25px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 10px black;
    margin-bottom: 50px;
}

.exploreResultCardOne {
    margin: 10px;
    width: 195px;
    background: rgb(155, 155,155);
}

.exploreResultCardOne img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.exploreResultCardOne h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-top: 5px;
}

.exploreResultCardOne button {
    margin: 10px 0px 10px 0px;
}