$font: 'ZCOOL KuaiLe', 'cursive';

.main {
    background-image: url("./../../assets/Headertemplate.png");
}

#exploreTitle {
    color: whitesmoke;
    font-family: $font;
    font-size: 2em;
    text-shadow: 2px 2px rgb(93, 188, 210);
    position: absolute;
    left: 1100px;
    bottom: 525px;
}

.exploreResultCardOne {
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(12, 18, 12, 0.9);
    width: 250px;
    margin-left: 5px;
    border-radius: 10%;
}

.exploreResultCardOne h1 {
    font-family: $font;
    margin-left: 100px;
}

.exploreResultCardOne img {
    height: 100px;
    width: 100px;
    border-radius: 25%;
}

.exploreResultCardOne button {
    background: silver;
    border: none;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.mappedProfile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 75px;;
}