.mappedCars {
    border: 1px solid white;
}

.mappedCars button {
    width: 100px;
}

.mappedCars h4, .mappedCars p{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin: 10px 0px 10px 0px;
}

.video{
    height: 250px;
    width: 500px;
}