.mappedTrackCard {
    background: rgba(155, 155, 155, 0.8);
    width: 1000px;
    margin-top: 25px;
    margin-left: 240px;
    box-shadow: 10px 10px 10px rgba(107, 105, 105, 0.521);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}